{% extends "crm/base.html" %} 

<html>
    {% block content %}
        <h1>Home Page</h1>
        <p>welcome to my website</p>

        <br>

        <a href="{% url 'create-task' %}">Create task</a>

        <br>

        <h3>My Tasks</h3>

        {% for task in allTasks %}
            <br>
                {{ task.title }}
            <br>
                {{ task.description }}
            <br>
                {{ task.created }}
            <br>

            <!-- link to the update page for this task -->
            <a href = "{% url 'update-task' task.id %}"> Update task </a>

            <br>
        {% endfor %}


    {% endblock %}
</html>